@model SessionViewModel;


@{
    ViewData["Title"] = "Session";
    Layout = "_Layout";
}



<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <!----- START SESSION ----->
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].Staff.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].Staff.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].Subspecialty.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].Subspecialty.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].Subspecialty.SubSpeciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].IsAcute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].IsPediatric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions![0].AnaestheticType)
            </th>
            <!----- END SESSION ----->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sessions!)
        {
            <tr>
                <!----- START SCHEDULE ----->
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subspecialty.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subspecialty.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subspecialty.SubSpeciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAcute)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPediatric)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnaestheticType)
                </td>
                <!----- END SESSION ----->
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>





