<!--model CDHB_Official.sakila.Schedule-->
@model CDHB_Official.Models.EditViewModel;


@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}


<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="schedule.Id" />
            <div class="form-group SCF">
                <label asp-for="schedule.TheatreId" class="control-label">Theatre</label>
                <select asp-for="schedule.TheatreId" class="form-control">
                    @foreach (var item in Model.TheatreSelector)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="schedule.TheatreId" class="text-danger"></span>
            </div>
            <div class="form-group SCF">
                <label asp-for="schedule.SessionId" class="control-label">Session</label>
                <select asp-for="schedule.SessionId" class="form-control">
                    @foreach (var item in Model.SessionSelector)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="schedule.SessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schedule.Week" class="control-label"></label>
                <input asp-for="schedule.Week" class="form-control" min="0" max="53" />
                <span asp-validation-for="schedule.Week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schedule.IsAm" class="control-label"></label>
                <select asp-for="schedule.IsAm" class="form-control">
                    <option value="@true">AM</option>
                    <option value="@false">PM</option>
                </select>
                <span asp-validation-for="schedule.IsAm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schedule.Day" class="control-label"></label>
                <select asp-for="schedule.Day" class="form-control">
                    @foreach (var item in Model.DaySelector)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="schedule.Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schedule.TimeStart" class="control-label"></label>
                <input asp-for="schedule.TimeStart" class="form-control datetime" />
                <span asp-validation-for="schedule.TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schedule.TimeEnd" class="control-label"></label>
                <input asp-for="schedule.TimeEnd" class="form-control datetime" />
                <span asp-validation-for="schedule.TimeEnd" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="schedule.Theatre" />
            <input type="hidden" asp-for="schedule.Session" />

            <div class="form-group">
                <input type="Submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    @if (Model.SessionViewType == "Matrix")
    {
        <a asp-action="Matrix" asp-route-week="@Model.schedule.Week">Back to List</a>
    } else
    {
        <a asp-action="Index">Back to List</a>
    }

</div>


<script>

    // Below code sets format to the
    // datetimepicker having id as
    // datetime

    $('.datetime').datetimepicker({
        format: 'HH:mm'
    });


</script>
